/* Resetting Default Styles*/
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a 
{
    text-decoration: none;
    color: #000;
}

/* Font */
@font-face 
{
    font-family: 'Yolk';
    src: url(font/Yolk-Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

* 
{
    font-family: 'Yolk', sans-serif;
}

/* Utilities */
.font-grey
{
    color: #888687;
}

.font-orange
{
    color: #ff8f00;
}

/* Body */

/* Header */
header
{
    height: 70px;
}

header img
{
    max-height: 60px;
}

nav
{
    height: 60px;
}

input[type='search']::placeholder 
{
    font-family: system-ui, FontAwesome, sans-serif;
}

.orange-hover:hover
{
    color: orange;
    cursor: pointer;
}

.menu-hover:hover
{
    background-color: #696565af;
    border-radius: 8px;
    cursor: pointer;
}

/* Aside */
aside
{
    background-color: rgba(13,37,58,255);
}

/* Main */
